@model Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisaExpiry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisaExpiry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkPermitExpiry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkPermitExpiry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.CompanyID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
