@model Models.JobService

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GovtFees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GovtFees)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobServiceHeads)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobServiceHeads.JobServiceHeadID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobServiceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
