@model IEnumerable<Models.JobService>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GovtFees)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.JobServiceHeads)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GovtFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobServiceHeads.JobServiceHeadID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobServiceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobServiceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobServiceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
